:root{
    --bg-color:#130f1a;
    --btn-bg-color:#FF0000;
    --font-color:#ffffff;
    --para-color:#ffffff;
    /* --bg-btn-color:linear-gradient(to left, #ff0000 0%, #c6019a 51%, #ff0000 100%); */

}
.btn{
    background-image:linear-gradient(to left, #ff0000 0%, #c6019a 51%, #ff0000 100%) ;
    color: var(--font-color);
}
.h1{
    -webkit-background-clip:text;
}

.btn {
    background-size: 300% 100%;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
  }
  
  .btn:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  
  .btn:focus {
    outline: none;
  }
  
  